.listMovie-list-container {
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listMovie-list-content {
  max-height: 71vh;
  min-height: 67vh;
  margin-top: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
