.listMovie-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.listMovie-list-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
