.cardMovie-container {
  width: 237px;
  height: 370px;
  background: url(https://media.fstatic.com/hD6fE2hKtel8v4KGeXyX7vXyiwM=/290x478/smart/media/movies/covers/2020/09/queens_gambit.jpg)
    no-repeat center;
  background-size: cover;
}
.cardMovie-container:hover {
  filter: brightness(80%);
}
.cardMovie-add img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  fill: aliceblue;
}
.cardMovie-add img:hover {
  transform: scale(1.02);
}
